.profile {
  padding-top: 20px;
  width: 300px;
  height: auto;
  margin-top: 20px;
  text-align: center;
  border: solid 1px #d8e0ea;
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.452);
  border-radius: 10px;
}

.description {
  width: 250px;
  height: auto;
}

.avatar {
  width: 128px;
  margin: auto;
}


.tag {
  color: rgb(236, 41, 41);
}

.location {
  color: rgb(45, 12, 163);
}


.item {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

